# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/quantnote.iml
.idea/vcs.xml
000985中证全指.xlsx
default.profraw
tushare_temp.ipynb
!/default.profraw
notebooks/uda_notebooks/project 7 combine signals for enhanced alpha/.ipynb_checkpoints/
!/tushare_temp.ipynb
!/.ipynb_checkpoints/
!/.ipynb_checkpoints/tushare_temp-checkpoint.ipynb
!/notebooks/.ipynb_checkpoints/
/.ipynb_checkpoints/
/notebooks/.ipynb_checkpoints/
/.ipynb_checkpoints/
